#welcomePage {
    text-align: center; 
}

#welcomePage, #donePage, #questionPage, #highscoreCard {
    border-style: none;
}

#questionPage, #donePage, #divResult {
    display: none;
}

.qbtn {
    text-align: left;
    /* padding:0; */
}


